

.contenido{
    display: inline-block;
    flex-direction: column;
    
    justify-content: center;
    padding: 20px 40px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.redes{
    a {
        color: white;
    }
    &:hover {color: $link-hover-color;}

    &:focus {color: $link-hover-color;}

}
.carr{
    a {
        color: $secondary;
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-weight:bolder;
    }
    &:hover {
        opacity: 0.6;
        transition: 1s;
        
        } 
    
}

.bgc-claro{
    background-color: #f2f2f2;
}