.slide img {
    height: 60vh;

}
.div-whatsapp{
    position:fixed;
    width: 100px;
    height: 100px;
    bottom: 25px;
    right: 25px;
    background-color: rgb(70, 187, 86);
    border-radius: 50px;
}

.whatsapp{
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 45px;
    right: 45px;
    
}