$primary: #1b1faf;
$font-family-sans-serif: 'Roboto', 'Anton', sans-serif;
$link-color: white;
$link-hover-color: rgb(122, 169, 177);
$secondary: #24273d;


@import "../scss/whatsapp";
@import "../scss/contenido";
@import "../scss/bootstrap";
@import "../scss/footer";


